<h1 align="center">Mejores ofertas en las últimas 24 horas en BUDA</h1>

<h4 align="center"> Última actualización al <%= @time.strftime("%d/%m/%Y") %> a las <%= @time.strftime("%H:%M:%S") %> horas.</h4>

<table border='2' style="width:40%" align="center" cellpadding="4" >
    <tr>
        <th width="100">Mercado</th>
        <th width="80">Máxima Oferta de Compra</th>
        <th width="80">Mínima Oferta de Venta</th>
        <th width="100">Moneda</th>
    </tr>

    <% @markets.each do |market| %>
         <tr>
            <td align="center"><%= market['market_name']%></td>
            <td align="right"><%= market['max_bid']['amount'] %></td>
            <td align="right"><%= market['min_ask']['amount']%></td>
            <td align="center"><%= market['min_ask']['currency']%></td>
        </tr>
    <% end %>
    </table>

    